<template>
  <modal :visibility="visibility" :close="closeModal">
    <h1 slot="modal-title" v-if="project.nombre.length" > {{ project.nombre }} </h1>
    <h1 slot="modal-title" v-else> Nuevo proyecto </h1>
    <div slot="modal-content">
      <div class="new-project">
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control">
            <input
              :class="{ 'is-danger': $v.project.nombre.$error }"
              class="input"
              v-model="project.nombre"
              type="text"
              placeholder="Nombre del proyecto"
              @blur="$v.project.nombre.$touch"
            >
          </div>
          <p class="help is-danger" v-show="$v.project.nombre.$error">
            Por favor ingrese el nombre del proyecto
          </p>
        </div>

        <div class="field">
          <label class="label">Descripcion</label>
          <div class="control">
          <textarea
              class="textarea"
              v-model="project.descripcion"
              placeholder="Descripcion del proyecto, es opcional."
              rows="3">
          </textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Fecha de inicio</label>
          <div class="control">
            <datepicker
              :language="es"
              v-model="project.fechaInicio"
              :format="customFormatter"
              input-class="input"
              bootstrap-styling
              :value="project.fechaInicio"
            >
            </datepicker>
          </div>
        </div>

        <div class="field">
          <label class="label">Departamento</label>
          <div class="control">
            <select
              v-model="project.departamento"
              @change="getCitiesMethod(project.departamento)"
              :class="{ 'is-danger': $v.project.departamento.$error }"
              class="input"
              >
              <option v-for="departamento in departamentos" v-bind:value="departamento">
                {{ departamento }}
              </option>
            </select>
          </div>
          <p class="help is-danger" v-show="$v.project.departamento.$error">
              Por favor seleccione un departamento
            </p>
        </div>

        <div class="field">
          <label class="label">Ciudad</label>
          <div class="control">
            <select
              v-model="project.ciudad"
              v-bind:disabled="isDisabled"
              :class="{ 'is-danger': $v.project.ciudad.$error }"
              class="input"
              >
              <option v-for="ciudad in ciudades" v-bind:value="ciudad">
                {{ ciudad }}
              </option>
            </select>
          </div>
          <p class="help is-danger" v-show="$v.project.ciudad.$error">
              Por favor seleccione una ciudad
          </p>
        </div>
        <!--<div class="columns">
          <div class="column">-->
            <div class="field">
              <label class="label">Tipo contrato</label>
              <div class="control">
                <select
                  v-model="project.tipoContrato"
                  :class="{ 'is-danger': $v.project.tipoContrato.$error }"
                  class="input"
                  >
                  <option v-for="tipoContrato in contracts" v-bind:value="tipoContrato.id">
                    {{ tipoContrato.nombre }}
                  </option>
                </select>
              </div>
              <p class="help is-danger" v-show="$v.project.tipoContrato.$error">
                  Por favor seleccione un tipo de contrato
                </p>
            </div>
          <!--</div>
           <div class="column">-->
              <div class="field">
                <label class="label">Director de proyecto</label>
                <div class="control">
                  <select
                    v-model="project.director"
                    :class="{ 'is-danger': $v.project.director.$error }"
                    class="input"
                    >
                    <option
                      v-for="item in projectManagers"
                      :value="item.id"
                      :key="item.id">
                      {{ item.nombre }}
                    </option>
                  </select>
                </div>
                <p class="help is-danger" v-show="$v.project.director.$error">
                  Por favor seleccione un director de proyecto
                </p>
              </div>
            <!--</div>-->
        </div>
        <div class="control">
          <button @click="saveProject()" class="button is-link new-project">Crear proyecto</button>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { en, es } from 'vuejs-datepicker/dist/locale'
import { getCities, getDepartaments } from '../../commons/utils'
import { formatingDate } from '../../commons/formatDate'
import Modal from '@/components/commons/Modal.vue'
import Datepicker from 'vuejs-datepicker'
import moment from 'moment'

export default {
  name: 'NewProject',
  components: {
    Modal,
    Datepicker
  },
  props: {
    active: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  data () {
    return {
      project: {
        nombre: '',
        descripcion: '',
        fechaInicio: new Date(),
        departamento: '',
        ciudad: '',
        tipoContrato: '',
        director: null
      },
      en: en,
      es: es,
      departamentos: getDepartaments(),
      ciudades: [],
      isDisabled: true
    }
  },
  validations: {
    project: {
      nombre: {
        required
      },
      fechaInicio: {
        required
      },
      departamento: {
        required
      },
      ciudad: {
        required
      },
      tipoContrato: {
        required
      },
      director: {
        required
      }
    }
  },
  computed: {
    visibility () {
      return this.active
    },
    contracts () {
      return this.$store.getters['contracts/getContracts']
    },
    projectManagers () {
      return this.$store.getters['users/getProjectManagers']
    }
  },
  methods: {
    closeModal () {
      this.clear()
      this.$store.dispatch('uiState/setActiveModal', '')
    },
    clear () {
      this.$v.$reset()
      this.project.nombre = ''
      this.project.descripcion = ''
      this.project.fechaInicio = new Date()
      this.project.departamento = ''
      this.project.ciudad = ''
      this.project.tipoContrato = ''
      this.project.director = null
    },
    saveProject () {
      this.$v.$touch()
      if (!this.$v.project.$invalid) {
        // Reemplazo la fecha por la formateada.
        this.project.fechaInicio = formatingDate(this.project.fechaInicio)
        this.$store.dispatch('projects/store', this.project)
          .then(response => {
          // alert("Se ha registrado exitosamente el proyecto: " + this.project.nombre)
            this.successAlert('Se ha registrado exitosamente el proyecto: ' + this.project.nombre + '!')
            this.$store.dispatch('projects/list')
            this.closeModal()
          }).catch(error => {
            this.errorAlert('No se ha podido registrar el proyecto.')
          })
      }
    }, // Metodo para obtener las ciudades respecto un departamento:
    getCitiesMethod (departamento) {
      this.project.ciudad = ''
      this.ciudades = getCities(departamento)
      this.isDisabled = false
      // console.log(this.ciudades)
    }, // Metodo de Moment.js para dar formato VISUAL a la fecha:
    customFormatter (date) {
      return moment(date).format('DD/MM/YYYY')
    }, // Metodos Swal para generar un mensaje de alerta.
    successAlert (msj) {
      this.$swal(
        'Exito!', msj, 'success'
      )
    },
    errorAlert (msj) {
      this.$swal(
        'Error!', msj, 'error'
      )
    }
  },
  created () {
    this.$store.dispatch('contracts/get')
    this.$store.dispatch('users/list')
  }
}
</script>

<style>
.new-project {
  padding: 0rem 2.5rem;
  margin: 10px;
}
</style>
