<template>
  <div class="menu list">
    <p class="menu-label" v-if="title.length">
      {{title}}
    </p>
    <span v-if="!data.length">{{emptyState}}</span>
     <!--TODO:
          2. Al hacer clic en el boton debe aparecer el modal de edicion.
          3. Al hacer clic en el nombre del proyecto debe dirigirse a la vista propia.          -->
    <ul class="menu-list" v-if="data.length">
      <li
        :key="index"
        v-for="(item, index) in data"
        @mouseover="showByIndex = index"
        @mouseout="showByIndex = null"
      >
          <div class="level">
            <router-link :to="item.link" class="level-left">
              {{item.nombre}}
            </router-link>
            <div class="level-right">
              <a v-show="showByIndex === index"
                @click="deleteProject(item.id)"
              >
                <font-awesome-icon icon="trash-alt"/>
              </a>

              <a
                @click="showEditProject(item.id)"
              >
                <font-awesome-icon icon="info-circle"/>
              </a>
            </div>
        </div>
      </li>
    </ul>
    <edit-project :active="activeEditProject" :project="projectData" ></edit-project>
  </div>
</template>

<script>
import EditProject from './EditProject.vue'

export default {
  name: 'ProjectList',
  components: {
    EditProject
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    emptyState: {
      type: String,
      default: 'No data'
    },
    data: {
      type: Array,
      required: true,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
      showByIndex: null,
      projectData: {}
    }
  },
  computed: {
    activeEditProject () {
      return this.$store.getters['uiState/getActiveModal'] === 'EDIT_PROJECT'
    }
  },
  methods: {
    showEditProject (id) {
      this.$store.dispatch('projects/get', { id })
        .then(response => {
          if (response.data) {
            console.log(response.data)
            this.projectData = response.data
            this.$store.dispatch('uiState/setActiveModal', 'EDIT_PROJECT')
          }
        })
        .catch(error => {
        // TODO: Manejar error en caso de que halla
          console.log(error)
        })
    },
    deleteProject (id) {
      // TODO: Sacar modalcito swal para decirle al usuario algo como
      // ¿Está seguro de eliminar el proyecto [nombre del proyecto]?
      // Botones: Si y No
      this.$store.dispatch('projects/remove', { id })
        .then(response => {
          this.$store.dispatch('projects/list')
        })
        .catch(error => {
        // TODO: Manejar error en caso de que halla
          console.log(error)
        })
    }
  }
}
</script>

<style>
  .list {
    padding: 1rem;
  }

  .list .menu-list a:hover {
    background-color: transparent;
    color: white;
  }

  /* Se debe implmentar que el componente reciba los estilos de la lista*/
  .menu-label {
    color: white;
    font-weight: bold;
  }

  .menu-list a {
    color: white;
  }
</style>
