<template>
  <div class="dashboard">
    <div class="columns">
      <div class="column is-one-fifths main-menu">
        <!--<div>Logo</div>-->
        <project-list :title="messages.title" :data="projects" :empty-state="messages.emptyProjects"></project-list>
        <div class="menu-footer">
          <div class="menu">
            <ul class="menu-list">
              <li>
                <a @click="showNewProject()">
                  <img class="icon" src="../assets/icons/add-circular-white.svg" alt="Add">
                  Nuevo proyecto
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column is-four-fifths" style="padding-left: 0px;">
        <navbar>
          <template slot="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable is-right">
                <a class="navbar-link">
                  {{user.nombre}}
                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    Perfil
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item"  @click="logout()">
                    Cerrar sesión
                  </a>
                </div>
            </div>
          </template>
        </navbar>
        <div class="columns">
          <div class="welcome">
            <div class="welcome-clock">
              <Clock :blink="true" />
            </div>
            <div class="welcome-message">
              {{getWelcome}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <new-project :active="activeNewProject"></new-project>
  </div>
</template>

<script>
import ProjectList from '@/components/projects/ProjectList.vue'
import NewProject from '@/components/projects/NewProject.vue'
import EditProject from '@/components/projects/EditProject.vue'
import Navbar from '../components/commons/Navbar.vue'
import Clock from 'vue-digital-clock'

export default {
  name: 'Dashboard',
  components: {
    ProjectList,
    NewProject,
    Navbar,
    Clock
  },
  data () {
    return {
      messages: {
        title: 'Proyectos',
        emptyProjects: 'No hay proyectos registrados'
      }
    }
  },
  computed: {
    projects () {
      return this.$store.getters['projects/getProjectsWithLinks']
    },
    activeNewProject () {
      return this.$store.getters['uiState/getActiveModal'] === 'NEW_PROJECT'
    },
    getWelcome () {
      const user = JSON.parse(localStorage.getItem('user'))
      const hour = new Date().getHours()
      let moment = 'Buenos días'
      if (hour >= 12 && hour < 18) moment = 'Buenas tardes'
      if (hour >= 18 && hour <= 23) moment = 'Buenas Noches'
      return `${moment}, ${user.nombre}`
      // return `Bienvenido, ${moment}`
    },
    user () {
      return JSON.parse(localStorage.getItem('user'))
    }
  },
  methods: {
    showNewProject () {
      this.$store.dispatch('uiState/setActiveModal', 'NEW_PROJECT')
    },
    logout () {
      location.href = 'https://scopc-ingsoft.firebaseapp.com/';
    }
  },
  created () {
    this.$store.dispatch('projects/list')
  }
}
</script>

<style>
.dashboard {
  background: linear-gradient(0deg,rgba(178, 174, 176, 0.3),rgba(14, 13, 14, 0.3)),url("../assets/images/unsplash3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dashboard .navbar {
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}

.dashboard .column {
  height: 100vh;
}

.dashboard .main-menu {
  background: linear-gradient(0deg,rgba(178, 174, 176, 0.3),rgba(14, 13, 14, 0.3)),url("../assets/images/unsplash3-blur.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  position: relative;
}

.dashboard .menu-footer {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  width: 95%;
}

.dashboard .menu-footer .menu-list a:hover {
  background-color: transparent;
  color: white;
}

.welcome {
  position: absolute;
  bottom: 80px;
  left: 330px;
  color: white;
  font-weight: bold;
  font-size: 2.1em;
}

.welcome .welcome-clock {
  font-size: 2.4em;
}
</style>
