<template>
  <div class="home">
    <!--<img alt="Vue logo" src="../assets/logo.png">-->
    <!--<HelloWorld msg="Hola desde el login"/>-->
         
    <section class="hero is-fullheight is-medium is-bold fondo">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered ">

              <article class="card is-rounded">
                <div class="card-content">
                  <h1 class="title">                                   
                    <img alt="Vue logo" src="../assets/logo.png">
                  </h1>   

                <div class="field">
                  <label class="label">Correo</label>
                  <div class="control">
                    <input
                      :class="{ 'is-danger': $v.user.email.$error }"
                      class="input campo is-rounded"
                      v-model="user.email"
                      type="text"
                      placeholder="Ingresar correo"
                      @blur="$v.user.email.$touch"
                    >
                  </div>
                  <p class="help is-danger" v-show="$v.user.email.$error">
                    Por favor ingrese el correo electronico
                  </p>
                </div>

                <div class="field">
                  <label class="label">Contraseña</label>
                  <div class="control">
                    <input
                      :class="{ 'is-danger': $v.user.password.$error }"
                      class="input campo is-rounded"
                      v-model="user.password"
                      type="password"
                      placeholder="Ingresar la contraseña"
                      @blur="$v.user.password.$touch"
                    >
                  </div>
                  <p class="help is-danger" v-show="$v.user.password.$error">
                    Por favor ingrese la contraseña
                  </p>
                </div>

                  <p class="control">
                    <button class="button is-success is-medium is-link is-fullwidth" @click="login()">                    
                      Acceder!
                    </button>
                  </p>
                  
                </div>
              </article>
            </div>
          </div>
    </div>
  </section>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import { required } from 'vuelidate/lib/validators'
import swal from 'sweetalert2';
window.swal = swal

export default {
  name: 'home',
  components: {
    HelloWorld
  },
  data () {
    return {
      user: {
        password: '',
        email: ''
      }
    }
  },
  validations: {
    user: {
      password: {
        required
      },
      email: {
        required
      }      
    }
  },
  methods: {
    login () {
      this.$v.$touch()
      if (!this.$v.user.$invalid) {
        if(this.user.email=='admin@admin.com' && this.user.password == 'admin2018'){
          const user = { nombre: 'Administrador', rol: 2, id: 1 }   
          localStorage.setItem('user', JSON.stringify(user))
          location.href = 'https://scopc-ingsoft.firebaseapp.com/#/dashboard';       
        }else if(this.user.email=='pilinrt@yahoo.es' && this.user.password == 'ingeniera2018'){
          const user = { nombre: 'Pilar Rodriguez', rol: 2, id: 2 } 
          localStorage.setItem('user', JSON.stringify(user))
          location.href = 'https://scopc-ingsoft.firebaseapp.com/#/dashboard';
        }else{
          swal(
            'Acceso denegado',
            'Por favor verifica las credenciales!',
            'error'
          )
        }
        // if(this.user.email=='admin@admin.com' && this.user.password == 'admin2018' || this.user.email=='pilinrt@yahoo.es' && this.user.password == 'ingeniera2018' ){
        //   location.href = 'https://scopc-ingsoft.firebaseapp.com/#/dashboard';
        // }else{
        //   swal(
        //     'Acceso denegado',
        //     'Por favor verifica las credenciales!',
        //     'error'
        // )
        // }
      }
    }
  }
}
</script>

<style>
  .title{
    text-align: center;
  }

  .campo{
    width : 500px;
  }

  .fondo{
    background: linear-gradient(0deg,rgba(178, 174, 176, 0.3),rgba(14, 13, 14, 0.3)),url("../assets/images/unsplash3-blur.jpg") no-repeat center center fixed;
  }
</style>