<template>
  <div class="project-home">
    <navbar>
      <template slot="navbar-start">
        <a class="navbar-item" >
          <router-link to="/dashboard">
            <font-awesome-icon icon="arrow-left"/>
          </router-link>

        </a>
        <a class="navbar-item">
          {{project.nombre}}
        </a>
      </template>
      <template slot="navbar-end">
        <a class="navbar-item" @click="showNewActivity()">
          <font-awesome-icon icon="plus-circle"/>
          Nueva actividad
        </a>
        <div class="navbar-item has-dropdown is-hoverable is-right">
            <a class="navbar-link">
              {{user.nombre}}
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Perfil
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" @click="logout()">
                Cerrar sesión
              </a>
            </div>
        </div>
      </template>
    </navbar>
    <kanban-board :tasks="activities"></kanban-board>
    <new-activity :active="activeNewActivity"></new-activity>
  </div>
</template>
<script>
import Navbar from '../components/commons/Navbar.vue'
import KanbanBoard from '../components/kanban-board/KanbanBoard.vue'
import NewActivity from '../components/activities/NewActivity.vue'

export default {
  name: 'ProjectHome',
  components: {
    Navbar,
    KanbanBoard,
    NewActivity
  },
  data () {
    return {
      project: {},
      activities: {
        open: [],
        inProgress: [],
        done: []
      }
    }
  },
  methods: {
    showNewActivity () {
      this.$store.dispatch('uiState/setActiveModal', 'NEW_ACTIVITY')
    },
    logout () {
      location.href = 'https://scopc-ingsoft.firebaseapp.com/';
    }
  },
  computed: {
    activeNewActivity () {
      return this.$store.getters['uiState/getActiveModal'] === 'NEW_ACTIVITY'
    },
    user () {
      return JSON.parse(localStorage.getItem('user'))
    }
  },
  created () {
    const id = this.$route.params.id
    this.$store.dispatch('projects/get', { id })
      .then(response => {
        this.project = response[0].data
        const activities = response[1].data
        this.activities.open = activities.filter((activity) => activity.id_estado_actividad === 1)
        this.activities.inProgress = activities.filter((activity) => activity.id_estado_actividad === 2)
        this.activities.done = activities.filter((activity) => activity.id_estado_actividad === 3)
      })
      .catch(error => {
        // TODO: Manejar error en caso de que halla
        console.log(error)
      })
  }
}
</script>
