<template>
    <modal :visibility="active" :close="closeModal">
        <h1 slot="modal-title"> Nueva actividad </h1>
        <div slot="modal-content">
            <div class="new-activity">
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                  <input
                    :class="{ 'is-danger': $v.activity.nombre.$error }"
                    class="input"
                    v-model="activity.nombre"
                    type="text"
                    placeholder="Nombre de la actividad"
                    @blur="$v.activity.nombre.$touch"
                  >
                </div>
                <p class="help is-danger" v-show="$v.activity.nombre.$error">
                  Por favor ingrese el nombre de la actividad
                </p>
              </div>
              <div class="columns">
                <div class="column" style="margin-right: 15px;">
                  <div class="field">
                    <label class="label">Unidad</label>
                    <div class="control">
                      <input
                        :class="{ 'is-danger': $v.activity.unidad.$error }"
                        class="input"
                        v-model="activity.unidad"
                        type="text"
                        placeholder="Ingrese la unidad"
                        @blur="$v.activity.unidad.$touch"
                      >
                    </div>
                    <p class="help is-danger" v-show="$v.activity.unidad.$error">
                      Por favor ingrese la unidad
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Precio</label>
                    <div class="control">
                      <input
                        :class="{ 'is-danger': $v.activity.precio.$error }"
                        class="input"
                        v-model="activity.precio"
                        type="text"
                        placeholder="Ingrese el precio"
                        @blur="$v.activity.precio.$touch"
                      >
                    </div>
                    <p class="help is-danger" v-show="$v.activity.precio.$error">
                      Por favor ingrese el precio
                    </p>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column" style="margin-right: 15px;">
                  <div class="field">
                    <label class="label">Fecha de entrega</label>
                    <div class="control">
                      <datepicker
                        :language="es"
                        v-model="activity.fechaEntrega"
                        :format="customFormatter"
                        input-class="input"
                        bootstrap-styling
                        :value="activity.fechaEntrega"
                      >
                      </datepicker>
                    </div>
                    <p class="help is-danger" v-show="$v.activity.unidad.$error">
                      Por favor ingrese una fecha de entrega
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Estado de la actividad</label>
                    <div class="control">
                      <select
                        v-model="activity.estadoActividad"
                        class="input"
                        >
                        <option
                          :key="index"
                          :value="item.id"
                          v-for="(item, index) in activityStates">
                          {{item.nombre}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Tipo de actividad</label>
                    <div class="control">
                      <select
                        v-model="activity.tipoActividad"
                        class="input"
                        >
                        <option
                          :key="index"
                          :value="item.id"
                          v-for="(item, index) in activityTypes">
                          {{item.nombre}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="column"></div>
              </div>
              <hr v-if="activity.manoDeObra.length || activity.maquinarias.length || activity.materiales.length">
              <h2 v-if="activity.manoDeObra.length || activity.maquinarias.length || activity.materiales.length">
                Recursos para esta actividad
              </h2>
              <div class="columns" v-if="activity.manoDeObra.length" style="margin-top: 5px;">
                <table class="table is-bordered" v-if="activity.manoDeObra.length">
                  <thead>
                    <tr>
                      <th colspan="5">Mano de obra</th>
                    </tr>
                    <tr>
                      <th>Nombre</th>
                      <th>Función</th>
                      <th>Rendimiento</th>
                      <th>Tipo</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in activity.manoDeObra" :key="index">
                      <td>{{item.encargado}}</td>
                      <td>{{item.funcion}}</td>
                      <td>{{item.rendimiento}}</td>
                      <td>{{item.type}}</td>
                      <td>
                        <a @click="removeHumans(item)" style="color: red;">
                          <font-awesome-icon icon="minus-circle"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="columns" v-if="activity.maquinarias.length">
                <table class="table is-bordered" v-if="activity.maquinarias.length">
                  <thead>
                    <tr>
                      <th colspan="5">Maquinaría</th>
                    </tr>
                    <tr>
                      <th>Nombre</th>
                      <th>Tipo</th>
                      <th>Precio</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in activity.maquinarias" :key="index">
                      <td>{{item.nombre}}</td>
                      <td>{{item.type}}</td>
                      <td>{{item.precio}}</td>
                      <td>
                        <a @click="removeMachines(item)" style="color: red;">
                          <font-awesome-icon icon="minus-circle"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="columns" v-if="activity.materiales.length">
                <table class="table is-bordered" v-if="activity.materiales.length">
                  <thead>
                    <tr>
                      <th colspan="6">Materiales</th>
                    </tr>
                    <tr>
                      <th>Nombre</th>
                      <th>Medidas</th>
                      <th>Peso</th>
                      <th>Precio</th>
                      <th>Tipo</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in activity.materiales" :key="index">
                      <td>{{item.nombre}}</td>
                      <td>{{item.medidas}}</td>
                      <td>{{item.peso}}</td>
                      <td>{{item.precio}}</td>
                      <td>{{item.type}}</td>
                      <td>
                        <a @click="removeMaterial(item)" style="color: red;">
                          <font-awesome-icon icon="minus-circle"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr>
              <h2>Selecciona los recursos a agregar a esta actividad</h2>
              <div class="columns" style="margin-top: 5px;">
                <div class="column">
                  <label class="label">Tipo de recurso</label>
                  <select
                    v-model="tipoRecurso"
                    class="input"
                    >
                    <option value="0">Selecciona un tipo de recurso</option>
                    <option value="1">Mano de obra</option>
                    <option value="2">Maquinaria</option>
                    <option value="3">Material</option>
                  </select>
                </div>
                <div class="column">
                </div>
              </div>
              <div class="columns" v-if="tipoRecurso === '1'">
                <div
                  style="width: 100%; text-align: center; font-weight: 600;"
                  class="notification is-primary"
                  v-if="!manoDeObra.length">
                  No hay recursos de mano de obra que pueda agregar en este momento
                </div>
                <table class="table is-bordered" v-if="manoDeObra.length">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Función</th>
                      <th>Rendimiento</th>
                      <th>Tipo</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in manoDeObra" :key="index">
                      <td>{{item.encargado}}</td>
                      <td>{{item.funcion}}</td>
                      <td>{{item.rendimiento}}</td>
                      <td>{{item.type}}</td>
                      <td>
                        <a @click="addHumans(item)">
                          <font-awesome-icon icon="plus-circle"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="columns" v-if="tipoRecurso === '2'">
                <div
                  style="width: 100%; text-align: center; font-weight: 600;"
                  class="notification is-primary"
                  v-if="!maquinarias.length">
                  No hay recursos de maquinaría que pueda agregar en este momento
                </div>
                <table class="table is-bordered" v-if="maquinarias.length">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Tipo</th>
                      <th>Precio</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in maquinarias" :key="index">
                      <td>{{item.nombre}}</td>
                      <td>{{item.type}}</td>
                      <td>{{item.precio}}</td>
                      <td>
                        <a @click="addMachines(item)">
                          <font-awesome-icon icon="plus-circle"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="columns" v-if="tipoRecurso === '3'">
                <div
                  style="width: 100%; text-align: center; font-weight: 600;"
                  class="notification is-primary"
                  v-if="!materiales.length">
                  No hay recursos materiales que pueda agregar en este momento
                </div>
                <table class="table is-bordered" v-if="materiales.length">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Medidas</th>
                      <th>Peso</th>
                      <th>Precio</th>
                      <th>Tipo</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in materiales" :key="index">
                      <td>{{item.nombre}}</td>
                      <td>{{item.medidas}}</td>
                      <td>{{item.peso}}</td>
                      <td>{{item.precio}}</td>
                      <td>{{item.type}}</td>
                      <td>
                        <a @click="addMaterial(item)">
                          <font-awesome-icon icon="plus-circle"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="columns">
                <div class="control">
                  <button @click="saveActivity()" class="button is-link">Crear Actividad</button>
                </div>
              </div>
            </div>
        </div>
    </modal>
</template>

<style>
h2 {
  font-weight: 600;
}

.table {
  width: 100%;
}

.table thead {
  background-color: #2da3ff;
}

.table thead th {
  color: white;
}

.table thead td, .table thead th {
  font-size: 14px;
  text-align: center;
}

.table tbody td, .table tbody th {
  font-size: 14px;
}

.new-activity {
  padding: 0rem 2.5rem;
}
</style>
<script>
import { required } from 'vuelidate/lib/validators'
import { es } from 'vuejs-datepicker/dist/locale'
import { formatingDate } from '../../commons/formatDate'
import Datepicker from 'vuejs-datepicker'
import Modal from '@/components/commons/Modal.vue'
import moment from 'moment'

export default {
  name: 'NewActivity',
  components: {
    Modal,
    Datepicker
  },
  props: {
    active: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  data () {
    return {
      activity: {
        nombre: '',
        unidad: '',
        precio: '',
        fechaCreacion: new Date(),
        fechaEntrega: new Date(),
        tipoActividad: 1,
        estadoActividad: 1,
        manoDeObra: [],
        maquinarias: [],
        materiales: [],
        idProject: 0
      },
      es: es,
      tipoRecurso: '0' // 1: mano de obra, 2 maquinaria, 3 material
    }
  },
  validations: {
    activity: {
      nombre: { required },
      unidad: { required },
      precio: { required },
      fechaEntrega: { required }
    }
  },
  methods: {
    closeModal () {
      this.clear()
      this.$store.dispatch('uiState/setActiveModal', '')
    },
    clear () {
      this.$v.$reset()
      this.activity.nombre = ''
      this.activity.unidad = ''
      this.activity.precio = ''
      this.activity.fechaCreacion = new Date()
      this.activity.fechaEntrega = new Date()
      this.activity.tipoActividad = 1
      this.activity.estadoActividad = 1
      this.activity.manoDeObra = []
      this.activity.maquinarias = []
      this.activity.materiales = []
      this.activity.idProject = 0
    },
    saveActivity () {
      this.$v.$touch()
      if (!this.$v.activity.$invalid) {
        // Reemplazo la fecha por la formateada.
        this.activity.fechaEntrega = formatingDate(this.activity.fechaEntrega)
        this.$store.dispatch('activities/store', this.activity)
          .then(response => {
            this.successAlert('Se ha registrado exitosamente la actividad: ' + this.activity.nombre + '!')
            this.closeModal()
          }).catch(error => {
            console.log(error)
            this.errorAlert('No se ha podido registrar la actividad.')
          })
      }
    },
    customFormatter (date) {
      return moment(date).format('DD/MM/YYYY')
    },
    addMaterial (resource) {
      this.activity.materiales.push(resource)
      const removeIndex = this.materiales.map((item) => item.id).indexOf(resource.id)
      this.materiales.splice(removeIndex, 1)
    },
    addHumans (resource) {
      this.activity.manoDeObra.push(resource)
      const removeIndex = this.manoDeObra.map((item) => item.id).indexOf(resource.id)
      this.manoDeObra.splice(removeIndex, 1)
    },
    addMachines (resource) {
      this.activity.maquinarias.push(resource)
      const removeIndex = this.maquinarias.map((item) => item.id).indexOf(resource.id)
      this.maquinarias.splice(removeIndex, 1)
    },
    removeMaterial (resource) {
      this.materiales.push(resource)
      const removeIndex = this.activity.materiales.map((item) => item.id).indexOf(resource.id)
      this.activity.materiales.splice(removeIndex, 1)
    },
    removeHumans (resource) {
      this.manoDeObra.push(resource)
      const removeIndex = this.activity.manoDeObra.map((item) => item.id).indexOf(resource.id)
      this.activity.manoDeObra.splice(removeIndex, 1)
    },
    removeMachines (resource) {
      this.maquinarias.push(resource)
      const removeIndex = this.activity.maquinarias.map((item) => item.id).indexOf(resource.id)
      this.activity.maquinarias.splice(removeIndex, 1)
    },
    successAlert (msj) {
      this.$swal(
        'Exito!', msj, 'success'
      )
    },
    errorAlert (msj) {
      this.$swal(
        'Error!', msj, 'error'
      )
    }
  },
  computed: {
    visibility () {
      return this.active
    },
    activityTypes () { return this.$store.getters['activities/types'] || [] },
    activityStates () { return this.$store.getters['activities/states'] || [] },
    manoDeObra () { return this.$store.getters['resources/humansResources'] || [] },
    maquinarias () { return this.$store.getters['resources/machinesResources'] || [] },
    materiales () { return this.$store.getters['resources/materialsResources'] || [] }
  },
  mounted () {
    const id = this.$route.params.id
    this.activity.idProject = id
    this.$store.dispatch('resources/list')
    this.$store.dispatch('activities/activityTypes')
    this.$store.dispatch('activities/activityStates')
  }
}
</script>
