<template>
    <div class="columns">
        <column
            :key="index"
            v-for="(column, index) in columns"
            :data="tasks[column.id]"
            :header="column">
        </column>
    </div>
</template>
<style>
    .columns {
        padding: 10px;
    }
</style>
<script>
import Column from '../commons/Column.vue'

const kanbanColumns = [
  {
    id: 'open',
    name: 'Abiertas',
    color: '#3498db',
    bodyColor: '#eeeeee'
  },
  {
    id: 'inProgress',
    name: 'En progreso',
    color: '#d35400',
    bodyColor: '#eaeaea'
  },
  {
    id: 'done',
    name: 'Terminadas',
    color: '#1abc9c',
    bodyColor: '#eeeeee'
  }
]

const activities = {
  open: ['tarea 1 C1', 'tarea 2 C1', 'tarea 3 C1'],
  inProgress: ['tarea 1 C2'],
  done: []
}
export default {
  name: 'KanbanBoard',
  props: {
    tasks: {
      type: Object,
      default: () => ({
        open: [],
        inProgress: [],
        done: []
      }),
      required: true
    }
  },
  components: {
    Column
  },
  data () {
    return {
      columns: kanbanColumns
    }
  }
}
</script>
