<template>
    <div class="card activity-card" :id="data.id">
        <div class="card-content">
            <p class="title is-size-6">{{data.nombre}}</p>
            <span class="due-date">Vence: {{data.fecha_entrega.substring(0, 10)}}</span>
            <div class="tags">
                <span class="tag is-warning"><strong>Price:&nbsp;</strong> $ {{data.precio}} COP</span>
                <span class="tag is-danger"><strong>Unidad:&nbsp;</strong> {{data.unidad}}</span>
            </div>
        </div>
    </div>
</template>

<style>
    .activity-card {
        margin: 10px;
        cursor: grab;
    }

    .due-date {
        position: absolute;
        top: 20px;
        right: 15px;
        font-size: 14px;
        font-weight: 600;
    }
</style>
<script>
export default {
  name: 'ActivityCard',
  props: {
    data: {
      type: Object,
      required: true,
      default: () => {}
    }
  }
}
</script>
