<template>
    <div class="column">
        <div class="column__header" :style="{'background': header.color}">
            {{header.name}}
        </div>
        <draggable
            class="column__body"
            @add="checkMove($event, header.id)"
            :options="{group: 'activities'}"
            :style="{'background': header.bodyColor}"
            :list="data">
            <activity-card
                v-for="(value, index) in data"
                :key="index"
                :data="value"
            >
            </activity-card>
        </draggable>
    </div>
</template>

<style>
    .column {
        padding: 0px;
    }

    .column__header {
        height: 60px;
        color: white;
        font-weight: 700;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }

    .column__body {
        padding-top: 10px;
        min-height: 800px;
    }
</style>
<script>
import draggable from 'vuedraggable'
import ActivityCard from '../activity-card/ActivityCard.vue'

export default {
  name: 'Column',
  props: {
    header: {
      type: Object,
      required: true,
      default: () => {}
    },
    data: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  components: {
    draggable,
    ActivityCard
  },
  methods: {
    checkMove (evt, columnName) {
      if (evt.item.id) {
        const obj = { id: evt.item.id }
        if (columnName === 'open') obj.data = { idEstadoActividad: 1 }
        if (columnName === 'inProgress') obj.data = { idEstadoActividad: 2 }
        if (columnName === 'done') obj.data = { idEstadoActividad: 3 }
        this.$store.dispatch('activities/update', obj)
      }
    }
  }
}
</script>
