<template>
  <div class="modal" :class="{ 'is-active': visibility }">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            <slot name="modal-title"></slot>
          </div>
        </div>
        <div class="card-content">
          <slot name="modal-content"></slot>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="close()"></button>
  </div>
</template>

<script>

export default {
  name: 'Modal',
  props: {
    visibility: {
      type: Boolean,
      required: true,
      default: false
    },
    close: {
      type: Function,
      default: function () {
        this.visibility = false
      }
    }
  }
}
</script>

<style>
.modal-background {
  background-color:rgba(160, 169, 173, 0.8);
}
</style>
