<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="../../assets/logo.png" width="90" height="28">
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
            <slot name="navbar-start"></slot>
        </div>

        <div class="navbar-end">
            <slot name="navbar-end"></slot>
        </div>
      </div>
    </nav>
</template>

<script>

export default {
  name: 'Navbar'
}
</script>
