<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import "assets/css/bulma.min.css";

hr {
  background-color: rgba(54, 54, 54, 0.1);
  border: none;
  display: block;
  height: 2px;
  margin: 0.5rem 0;
}

#app {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.modal-card, .modal-content {
  width: 900px;
}

.card {
  border-radius: 5px;
}

.card .card-header-title {
  background: #2da3ff;
  border-radius: 5px 5px 0 0;
  color: white;
}

.card .card-header-title h1,
.card .card-header-title h2 {
  font-weight: 400;
}

.label {
  font-weight: 400;
  color:#818181;
}

.button.is-primary {
  background-color: #f7c23e;
}

.icon {
  width: 22px;
  vertical-align: bottom;
}
</style>

<script>
export default {
  name: 'App',
  mounted () {
    // TODO: Remove when login is implemented
    //const user = { nombre: 'Gerson Guerrero', rol: 2, id: 1 }
    //localStorage.setItem('user', JSON.stringify(user))
  }
}
</script>
